@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&family=Roboto:wght@100;400;500&display=swap');

*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #345B63;
    font-family: 'Roboto', sans-serif;
}

h1{
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
    cursor: pointer;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.box{
    margin-bottom: 100px;
}

.box > li {
    background-color: #fff;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    width: 400px;
    padding: 5px;
    border-radius: 5px;
}

li{

    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: 400;
}

a:hover{
    color: #fff;
}

li:hover{
    background-color: slateblue;
    transition: 2s;
}

p {
    text-align: center;
    padding: 2px;
    color: #fff;
    font-weight: bolder;
}

.home-menu > a {
    color: #fff;
    
}

.home-menu > a:hover{
    color: yellowgreen;
}

.box2{
    width: 700px;
    background-color: #232323;
    margin: auto;
    border-radius: 10px;
}

code > li:hover {
    color: tomato;
    background-color: #fff;
    transition: 0s;
}

.code {
    text-align: justify;
    padding: 10px;
    font-weight: 500;
}

.endpoints {
    color: #fff;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.overview{
    margin: auto;
    padding: 20px;
}

.example{
    text-align: justify;
    padding: 10px;
    color: grey;
}

#highlight-text{
    color: indianred;
}

.home-nav-item{
    color: springgreen;
}

.home-nav-item:hover{
    color: steelblue;
}